<div class="container">
<section id=aboutme>
 <!--  =========================start row 2 ==========================  --> 
                <div class="row">
  <!--  =========================start col 1 ==========================  -->   
                    <div class="col-lg-5">
                            <img src="images/laptop.jpg" style="width:auto;height:100%" alt="About me"  >
                    </div>
  <!--  =========================end col 1 ==========================  --> 

<!--  =========================start col 2 ==========================  -->  
                    <div class="col-lg-7">
<!--  =========================start text ==========================  --> 
                         <div class="text">
                        <h3  class="text-uppercase pt-5">
                            <span>About me</span>
                        </h3>
                       
                          <p class="fw-bold fs-5 text text-white">


{{topline}}
<ul>
  <li>
  {{point1}}
</li>
<li>
{{point2}} 
</li>
<li>
{{point3}}
    </li>
<li>
{{point4}}
    </li>
<li>
  {{point5}}
  </li>
  <li>
  {{point6}}
  </li>
<li>
{{point7}}
</li>
<li>
{{point8}}
</li>
<li>
{{point9}}
</li>
<li>
{{point10}}
</li>
<li>
{{point11}}
</li>
<li>
{{point12}}
</li>
<li>
{{point13}}
</li>
<li>
{{point14}}
</li>
<li>
{{point15}}
</li>
<li>
{{point16}}
</li>
<li>
{{point17}}
</li>
<li>
{{point18}}
</li>
<li>
{{point19}}
</li>
<li>
{{point20}}
  </li>
  </ul>   

                    </div>   
 <!--  =========================end text ==========================  -->                    
                    </div>
<!--  =========================end col 2 ==========================  --> 
                </div>
 <!--  =========================end row 2 ==========================  -->             
</section>
<!--  ========================= End About Me Area ==========================  -->


<!--  ========================= Start Footer ============================  -->

<section id="footer"> 
<div id="contact">
 <!--  ========================= Start row ==========================  -->
<div class="row">
 <!--  ========================= Start col 1 ==========================  -->          
<div class="col-sm-3">
<ul class="footer">
<li><h5>Categories</h5></li>
<li>
<a href="/About">About me</a>
</li>
<li>
<a href="/Home#Projects" onclick="scrollToProjects();">Projects</a>
</li>
<li>
<a href="/Home#Contact" onclick="scrollToBottom();">Contact Me</a></li>
</ul>
 </div>
 <!--  ========================= End col 1 ==========================  -->
  <!--  ========================= Start col 2 ==========================  -->
<div class="col-sm-3">
<ul class="footer">
<li><h5>Groups</h5></li>
<li><a href="/#">Web Application</a></li>
<li><a href="/#">Embedded C</a></li>
<li><a href="/#">Computer Science</a>
</li>
</ul>
</div>
 <!--  ========================= End col 2 ==========================  -->
  <!--  ========================= Start col 3 ==========================  -->
<div class="col-sm-2">
<ul class="footer"><li><h5>More About Me</h5></li></ul>

<ul class="footer socialmedia">

<li>
<a href="{{gitlink}}" title="Anu's GitHub">
 <img class="social" src="images/contact/github.png" alt="github-img">
</a>
</li>

<li>
<a href="{{linkdinlink}}" title="Anu's LinkedIn">
 <img class="social" src="images/contact/linkdin.png" alt="linkdin-img">
</a>
</li>

<li><a href="{{instalink}}" title="Anu's Instagram">
 <img class="social" src="images/contact/insta.png" alt="instagram-img">
 </a>
</li>

<li>
<a href="{{mailid}}" title="email to Anu">
 <img class="social" src="images/contact/email.png" alt="email-img">
</a>
</li>

</ul>
 </div>
 <!--  ========================= End col 3 ==========================  -->
  <!--  ========================= Start col 4 ==========================  -->
<div class="col-sm-3">
</div>
 <!--  ========================= End col 4 ==========================  -->  
</div>
 <!--  ========================= End row ==========================  -->  
</div>





<!--  **************************Start copyright info **************************  -->
<aside style="justify-content:space-between;" class="socialmedia">
<div class="copyright">
<p>© 2021 by <b>Anu Bala</b> with 
<i class="fa fa-heart"></i>
</p>
</div>

<ul class="footer">
<li>
<a href="#">
<div style="transform:rotate(-90deg);width:20px">
<div>
<svg viewBox="0 0 28 26">
<path fill="#fff" d="M0,0 28,13 0,26 0,13 20,13 0,7z">
</path>
</svg>
</div>
 </div>
</a>
</li>

<li>

    <a href="/#">Privacy Policy</a> | <a href="/#">Terms &amp; Conditions</a> 

 </li>  
 </ul>  

</aside> 


<!--  **************************End copyright info **************************  -->
</section>

</div>